<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <h3> Research Interests</h3>
    <p>My research interests center around language and literacy development in children, with attention to English learners and students with special needs. Specifically, I am focusing on developing evidence-based interventions and assessments for children with dyslexia and/or dyscalculia.</p>
    <p>I am currently looking for research opportunities broadly related to language development and cognitive neuroscience.</p>
  <h3>[projects](http://yixian-huang.weebly.com)</h3>

</div>


