<div class="user-details">
  <h1>About Me</h1>
  <p> Hello! I am a first-year <a href="https://education.utexas.edu/departments/special-education/graduate-programs/learning-disabilities-behavioral-disorders">Ph.D. student in Learning Disabilities and Behavioral Disorders(LD/BD)</a> at the University of Texas at Austin. I am a quantitative researcher, and am interested in randomized controlled trial (RCT) and meta-analysis research. Before that, I earned my <a href="https://www.mcgill.ca/edu-ecp/">M.Ed. Degree in Educational Psychology</a> at McGill Univeristy. 
  <h1> Research Interests</h3>
  <p>My research interests center around language and literacy development in children, with attention to English learners and students with special needs. Specifically, I am focusing on developing evidence-based interventions and assessments for children with dyslexia and/or dyscalculia.</p>
  <p>I am currently looking for research opportunities broadly related to language development and cognitive neuroscience.</p>
  <h1> Projects </h3>
  <p>find my projects <a href="http://yixian-huang.weebly.com">here</a></p>
</div>



