<div class="user-details">
    <h2>About Me</h2>
    Hello! I am a first-year Ph.D. Student at the University of Texas at Austin (UT Austin), with a focuing area in <a href="https://education.utexas.edu/departments/special-education/graduate-programs/learning-disabilities-behavioral-disorders">Learning Disabilities and Behavioral Disorders(LD/BD)</a>. 
    Before that, I studied <a href="https://www.mcgill.ca/edu-ecp/">M.Ed. in Educational Psychology</a> at McGill Univeristy. I am a quantitative researcher, and am interested in randomized controlled trial (RCT) and meta-analysis research. 
    <h2> Research Interests</h2>
    <p>My research interests center around language and literacy development in children, with attention to English learners and students with special needs. Specifically, I am focusing on developing evidence-based interventions and assessments for children with dyslexia and/or dyscalculia.</p>
    <h2> Projects & Publications</h2>
    <p>Find my projects here on my <a href="http://yixian-huang.weebly.com">Notion.so</a> 
    <br>Find my publications here on my <a href="http://yixian-huang.weebly.com">ResearchGate</a></p>
<user_detials> </div>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
